@import 'colors';
.oh{ overflow: hidden !important; }
.ou{ overflow: unset !important; }
.pointer{ cursor: pointer !important; }
.no-drop{ cursor: no-drop !important; }
.border-1{ border-width: 2.5px !important; }
.border-2{ border-width: 5px !important; }
.border-3{ border-width: 7.5px !important; }
.border-4{ border-width: 10px !important; }
.border-dashed{ border-style: dashed !important; }
.border-dotted{ border-style: dotted !important; }
.border-gray{ border-color: $gray !important; }
.radius-5{ border-radius: 5px !important; }
.radius-10{ border-radius: 10px !important; }
.radius-20{ border-radius: 20px !important; }
.radius-30{ border-radius: 30px !important; }
.radius-50{ border-radius: 50px !important; }
.radius-70{ border-radius: 70px !important; }
.radius-100{ border-radius: 100px !important; }
.h-unset{ height: unset !important; }
.hpx-25{ height: 25px !important; }
.hpx-50{ height: 50px !important; }
.hpx-75{ height: 75px !important; }
.hpx-100{ height: 100px !important; }
.hpx-200{ height: 200px !important; }
.hpx-300{ height: 300px !important; }
.wpx-50{ width: 50px !important; }
.wpx-75{ width: 75px !important; }
.wpx-100{ width: 100px !important; }
.wpx-200{ width: 200px !important; }
.wpx-300{ width: 300px !important; }
// MIN
.mh-50{ min-height: 50px !important; }
.mh-75{ min-height: 75px !important; }
.mh-100{ min-height: 100px !important; }
.mh-200{ min-height: 200px !important; }
.mh-300{ min-height: 300px !important; }
.mw-50{ min-width: 50px !important; }
.mw-75{ min-width: 75px !important; }
.mw-100{ min-width: 100px !important; }
.mw-200{ min-width: 200px !important; }
.mw-300{ min-width: 300px !important; }
// SQUARE
.same-15{ width: 15px !important; height: 15px !important; }
.same-20{ width: 20px !important; height: 20px !important; }
.same-25{ width: 25px !important; height: 25px !important; }
.same-30{ width: 30px !important; height: 30px !important; }
.same-40{ width: 40px !important; height: 40px !important; }
.same-50{ width: 50px !important; height: 50px !important; }
.same-75{ width: 75px !important; height: 75px !important; }
.same-100{ width: 100px !important; height: 100px !important; }
.same-125{ width: 125px !important; height: 125px !important; }
.same-150{ width: 150px !important; height: 150px !important; }
.same-175{ width: 175px !important; height: 175px !important; }
.same-200{ width: 200px !important; height: 200px !important; }
.r-unset{ right: unset !important; }
.r-0{ right: 0 !important; }
.t-unset{ top: unset !important; }
.t-0{ top: 0 !important; }
.l-unset{ left: unset !important; }
.l-0{ left: 0 !important; }
.b-unset{ bottom: unset !important; }
.b-0{ bottom: 0 !important; }
.lh-auto{line-height: initial !important;}
.lh-unset{line-height: unset !important;}
.lh-1{line-height: 1 !important;}
.lh-15{line-height: 1.5 !important;}
.lh-2{line-height: 2 !important;}
.vh-10{height: 10vh !important;}
.vh-20{height: 20vh !important;}
.vh-30{height: 30vh !important;}
.vh-40{height: 40vh !important;}
.vh-50{height: 50vh !important;}
.vh-75{height: 75vh !important;}
.vh-80{height: 80vh !important;}
.vh-90{height: 90vh !important;}

// SHADOW
@mixin shadow($props) {
  -webkit-box-shadow: $props !important;
  -moz-box-shadow: $props !important;
  -ms-box-shadow: $props !important;
  -o-box-shadow: $props !important;
  box-shadow: $props !important;
}
%shadow-xs { @include shadow(0 0.05rem 0.05rem rgba(75, 75, 90, 0.1)); }
%shadow-sm { @include shadow(0 0.25rem 0.25rem rgba(75, 75, 90, 0.1)); }
%shadow { @include shadow(0 0.25rem 2rem rgba(0, 0, 0, 0.1)); }
%shadow-md { @include shadow(0 1rem 2rem rgba(0, 0, 0, 0.1)); }
%shadow-lg { @include shadow(0 1rem 5rem rgba(0, 0, 0, 0.1)); }
%shadow-xl { @include shadow(0 1rem 10rem rgba(0, 0, 0, 0.1)); }
%shadow-none { @include shadow(none); }
%shadow-img { @include shadow(0 1rem 2rem rgba(0, 0, 0, 0.25)); }

.shadow-xs { @extend %shadow-xs; }
.shadow-sm { @extend %shadow-sm; }
.shadow { @extend %shadow; }
.shadow-md { @extend %shadow-md; }
.shadow-lg { @extend %shadow-lg; }
.shadow-xl { @extend %shadow-xl; }
.shadow-none { @extend %shadow-none; }
.shadow-img { @extend %shadow-img; }

// TRANSITION
@mixin transdur($time) {
  -webkit-transition-duration: $time+s !important;
  -moz-transition-duration: $time+s !important;
  -ms-transition-duration: $time+s !important;
  -o-transition-duration: $time+s !important;
  transition-duration: $time+s !important;
}
.hover-xs:hover { @extend %shadow-xs;@include transdur(.25); }
.hover-sm:hover { @extend %shadow-sm;@include transdur(.25); }
.hover:hover { @extend %shadow;@include transdur(.25); }
.hover-md:hover { @extend %shadow-md;@include transdur(.25); }
.hover-lg:hover { @extend %shadow-lg;@include transdur(.25); }
.hover-xl:hover { @extend %shadow-xl;@include transdur(.25); }
.hover-none:hover { @extend %shadow-none;@include transdur(.25); }
.hover-img:hover { @extend %shadow-img;@include transdur(.25); }

.strong{ font-weight: 700 !important; }
.f-100{ font-weight: 100 !important; }
.f-200{ font-weight: 200 !important; }
.f-300{ font-weight: 300 !important; }
.f-400{ font-weight: 400 !important; }
.f-500{ font-weight: 500 !important; }
.f-600{ font-weight: 600 !important; }
.f-700{ font-weight: 700 !important; }
.f-800{ font-weight: 800 !important; }
.f-900{ font-weight: 900 !important; }
.text-6{ font-size: 6pt !important; }
.text-7{ font-size: 7pt !important; }
.text-8{ font-size: 8pt !important; }
.text-9{ font-size: 9pt !important; }
.text-10{ font-size: 10pt !important; }
.text-11{ font-size: 10pt !important; }
.text-12{ font-size: 12pt !important; }
.text-14{ font-size: 14pt !important; }
.text-16{ font-size: 16pt !important; }
.text-18{ font-size: 18pt !important; }
.text-20{ font-size: 20pt !important; }
.text-22{ font-size: 22pt !important; }
.center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.center-right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: flex-end !important;
  -ms-flex-pack: flex-end !important;
  justify-content: flex-end !important;
}
.center-left {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.overlay{
  position: fixed !important;
  width: 100% !important;
  height: 100vh !important;
  background-color: rgba(255,255,255,.75) !important;
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.overlay-absolute{
  position: absolute !important;
  width: 100% !important;
  height: 100vh !important;
  background-color: rgba(255,255,255,.75) !important;
  z-index: 9999 !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.bg-img{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.sticky-bottom-container{
  margin-top: -4.5rem !important;
  padding-bottom: 4.5rem !important;
}
