body{
  background-color: #f8f8f8 !important;
  min-height: calc(100vh - 4.5rem) !important;
}
.full-height {
  min-height: calc(100vh - 4.5rem) !important;
}
.content-page, .left-side-menu-condensed .content-page{
  margin: 0 !important;
  margin-top: 3.2rem !important;
  padding: 0 !important;

  // padding-left: 10px !important;
  // padding-right: 10px !important;
  // padding-top: 0 !important;
  // padding-bottom: 0 !important;
}
.bg-red{
  background-color: 'red' !important;
}
